
# Compiled Sources
###################
*.o
*.a
!atmel-samd/asf/**/*.a
*.elf
*.bin
*.map
*.hex
*.dis
*.exe

# Packages
############
dist/
*.egg-info
.eggs

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directories and images
######################
build/
bin/
circuitpython-stubs/
test-stubs/
build-*/
images/
*.img
*.dmg
*.img.zip
*.img.gz
alpine-rpi-*
alpine-uboot-*
ziloo-dev-card.img.*

# Test failure outputs
######################
tests/results/*

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Emacs backup files
####################
*~

*.DS_Store
**/*.DS_Store
*.icloud

# POEdit mo files
####################
*.mo

.vscode
.idea

# Python Virtual Environments
####################
.venv
.env

# Uncrustify formatting
*.uncrustify

# /workspace downloads using west/repo
######
.repo/
mcuxsdk/
sources/
downloads/
cache/
sstate-cache/
setup-environment
README-IMXBSP
README-DESKTOP
README
imx-setup-release.sh
imx-setup-desktop.sh
compulab-setup-env
